:root {
    --header-height: 70px;
    --footer-height: 70px;
    --primary-color: rgb(44, 44, 44);
    --secondary-color: gray;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    color: white;
}

header {
    background-color: var(--primary-color);
    position: fixed;
    height: var(--header-height);
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid white 1px;

    font-size: larger;
}

header nav.left {
    width: 270px;
}

header nav.right {
    width: 270px;
}

header nav {
    display: flex;
    justify-content: start;
}

header nav span {
    height: var(--header-height);
    line-height: var(--header-height);
    width: 135px;
    text-align: center;
}

header nav span.real {
    cursor: pointer;
}

.margin {
    height: var(--header-height);
}

main {
    background-color: var(--secondary-color);
    min-height: calc(100vh - var(--footer-height) - 5px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    border-top: solid white 1px;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--primary-color);
}

.content {
    width: 30%;
    min-height: calc(100vh - var(--footer-height) - var(--header-height) - 5px);

    background-color: var(--primary-color);
    padding-left: 7%;
    padding-right: 7%;
}
