<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="frags :: head(title=~{::title}, links=~{}, scripts=~{::script})">
    <title>Профиль игрока</title>

    <script type="text/javascript" th:src="@{/js/pages/aplayer.js}"></script>
</head>
<body>
<header th:replace="~{frags :: header}">

</header>

<main>
    <div class="margin"></div>
    <div class="content">
        <h1>Профиль игрока</h1>
        <div id="playerData">

        </div>
    </div>

</main>

<footer th:replace="~{frags :: footer}">

</footer>
</body>
</html>