<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="frags :: head(title=~{::title}, links=~{::link}, scripts=~{::script})">
    <title>Игры</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}">

    <script type="text/javascript" th:src="@{js/utils/list.js}"></script>
    <script type="text/javascript" th:src="@{js/pages/games.js}"></script>
</head>
<body>
    <header th:replace="~{frags :: header}">

    </header>
    
    <main>
        <div class="margin"></div>
        <div class="content">
            <h1>Список игр</h1>
            <div id="controlPanel">

            </div>
            <div id="listContainer">
                qwerty123
            </div>
        </div>
    </main>

    <footer th:replace="~{frags :: footer}">

    </footer>
</body>
</html>