<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="frags :: head(title=~{::title}, links=~{}, scripts=~{})">
    <title>Главная</title>
</head>
<body>
    <header th:replace="~{frags.html :: header}">

    </header>
    
    <main>
        <div class="margin"></div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore velit hic adipisci inventore quisquam, molestias dignissimos suscipit quam dicta aspernatur veritatis commodi pariatur nulla cumque beatae minus dolores unde sit.</p>
        </div>
    </main>

    <footer th:replace="~{frags.html :: footer}">

    </footer>
</body>
</html>